XSD/dsbhr-g-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:bhrgcom="http://www.broservices.nl/xsd/bhrgcommon/3.1"
           xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:dsbhrg="http://www.broservices.nl/xsd/dsbhrg/3.1"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:imf="http://www.imvertor.org/xsl/functions"
           xmlns:imvert="http://www.imvertor.org/schema/system"
           xmlns:math="http://www.w3.org/2005/xpath-functions/math"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/dsbhrg/3.1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="3.1.0">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/model-info/project">Logical model</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/application">Geologisch booronderzoek (BHR-G)</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/release">20210409</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/version">3.1.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/phase">1</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/uri">http://www.broservices.nl/xsd/dsbhrg</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/generated">2023-10-03T14:21:18Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/file-location">Geologisch%20booronderzoek%20%28BHR-G%29/unknown/v20210409/Dsbhrg.xsd</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generated">October 3, 2023 at 14:21:18</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generator">1.67.1</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/file-location">Geologisch%20booronderzoek%20%28BHR-G%29/unknown/v20210409/Dsbhrg.xsd</xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
    <xs:import namespace="http://www.broservices.nl/xsd/bhrgcommon/3.1" schemaLocation="bhrgcommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>
    <!--
    <xs:import namespace="http://www.broservices.nl/xsd/bhrgcommon/3.1" schemaLocation="https://schema.broservices.nl/xsd/bhrgcommon/3.1/bhrgcommon.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    -->
			  
   <xs:element name="dispatchDataRequest" type="brocom:DispatchDataRequestType" />
   <xs:element name="parseFault" type="brocom:ParseFaultType" />
			  
   <xs:element name="dispatchCharacteristicsRequest"
               type="dsbhrg:DispatchCharacteristicsRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: ToDo</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DispatchCharacteristicsRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:AbstractDispatchCharacteristicsRequestType">
            <xs:sequence>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="criteria"
                           nillable="false"
                           type="dsbhrg:BHR_G_CriteriaSetType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="dispatchCharacteristicsResponse" type="dsbhrg:DispatchCharacteristicsResponseType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Aantal documenten</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DispatchCharacteristicsResponseType">
      <xs:complexContent>
         <xs:extension base="brocom:DispatchResponseType">
            <xs:sequence>
               <xs:element name="numberOfDocuments"
                           type="xs:integer"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: ToDo</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="dispatchDocument"
                           nillable="false"
                           type="brocom:AbstractRegistrationObjectPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="dispatchDataResponse"
               type="dsbhrg:DispatchDataResponseType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht DispatchDataResponse is een specialisatie van de abstract klasse DispatchDataResponse uit de package brocommon, waaraan het een dispatchDocument toevoegt. Met dit bericht worden, als response op een DispatchDataRequest, de gegevens over een specifiek FRD registratieobject verzonden naar de aanvrager.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DispatchDataResponseType">
      <xs:complexContent>
         <xs:extension base="brocom:DispatchResponseType">
            <xs:sequence>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="dispatchDocument"
                           nillable="false"
                           type="brocom:AbstractRegistrationObjectPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="BHR_G_C"
               type="dsbhrg:BHR_G_CType"
               substitutionGroup="brocom:AbstractCharacteristics">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over een geologisch booronderzoek in de basisregistratie ondergrond, welke verstrekt worden aan een aanvrager die tevens bronhouder en/of dataleverancier van het registratieobject is.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BHR_G_CType">
      <xs:complexContent>
         <xs:extension base="brocom:AbstractCharacteristicsType">
            <xs:sequence>
               <xs:element name="surveyPurpose"
                           minOccurs="1"
                           maxOccurs="1"
                           type="bhrgcom:SurveyPurposeType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>SurveyPurpose</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het doel waarvoor het onderzoek is uitgevoerd.
Explanation: Onderzoek wordt normaliter projectmatig uitgevoerd, zelfs als het direct gebonden is aan een publieke taak. Het gegeven beschrijft het hogere doel van het project waarvoor het onderzoek is uitgevoerd of preciseert de taak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="discipline"
                           minOccurs="1"
                           maxOccurs="1"
                           type="bhrgcom:DisciplineType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>Discipline</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De discipline waarbinnen het booronderzoek is uitgevoerd.
Explanation: Het vakgebied is een gegeven dat dient om een categorie van booronderzoek in de registratie ondergrond te identificeren. Het gegeven bepaalt hoe het onderzoek is uitgevoerd en welke gegevens en categorieën van gegevens vastgelegd kunnen zijn. Onder geologisch onderzoek wordt geologisch specialistisch onderzoek verstaan dat nauw verbonden is met het doel modellen die de opbouw van de ondergrond in termen van (hydro)geologische eenheden beschrijven te maken en te verbeteren. Naast geologisch booronderzoek worden geologisch toegepast booronderzoek, geotechnisch booronderzoek, bodemkundig booronderzoek en cultuurtechnisch booronderzoek onderscheiden. In de uitvoeringspraktijk komt het voor dat in een booronderzoek gegevens worden vastgelegd die onder een van de vijf vakgebieden vallen en gegevens die eigenlijk in het domein van de milieukunde of de archeologie thuishoren. Omdat die disciplines buiten het bereik van de basisregistratie ondergrond liggen, zijn die extra gegevens niet gedefinieerd. Geologisch booronderzoek met een dergelijk multidisciplinair karakter wordt in de basisregistratie ondergrond opgenomen maar zonder die extra gegevens. Om gebruikers duidelijk te maken dat de onderzoeksresultaten niet volledig geregistreerd zijn wordt als waarde voor het vakgebied niet de waarde geologie vermeld, maar een waarde als geologieArcheologie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchReportDate"
                           type="brocom:PartialDateType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het booronderzoek alle gegevens van het booronderzoek aan de bronhouder heeft overgedragen of in het geval van historische gegevens de datum waarop alle gegevens zijn vastgesteld.
Explanation: Het gegeven is alleen aanwezig wanneer alle deelonderzoeken zijn gerapporteerd en het onderzoek is afgesloten. IMBRO/A Hoewel het grootste deel van de historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de eerst bekende datum waarop een onderzoek kan zijn afgerond in 1877 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="localVerticalReferencePoint"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:LocalVerticalReferencePointType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>LocalVerticalReferencePoint</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het booronderzoek alle gegevens van het booronderzoek aan de bronhouder heeft overgedragen of in het geval van historische gegevens de datum waarop alle gegevens zijn vastgesteld.
Explanation: Het gegeven is alleen aanwezig wanneer alle deelonderzoeken zijn gerapporteerd en het onderzoek is afgesloten. IMBRO/A Hoewel het grootste deel van de historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de eerst bekende datum waarop een onderzoek kan zijn afgerond in 1877 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="offset" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die de uitvoering van projecten waarbinnen het booronderzoek wordt uitgevoerd reguleert en daarmee de kaders bepaalt voor de uitvoering van het booronderzoek.
Explanation: De procedure beschrijft de manier van werken, de passende hulpmiddelen en de eisen waaraan de uitvoering moet voldoen. Procedures zijn in het algemeen vastgelegd in een norm, protocol of richtlijn. Dat kan overigens een richtlijn zijn die de uitvoerder voor zichzelf gebruikt. Het gegeven is opgenomen omdat het inzicht biedt in de kwaliteit van het werk.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                           <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                        </xs:restriction>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="verticalDatum"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:VerticalDatumType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>VerticalDatum</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het booronderzoek alle gegevens van het booronderzoek aan de bronhouder heeft overgedragen of in het geval van historische gegevens de datum waarop alle gegevens zijn vastgesteld.
Explanation: Het gegeven is alleen aanwezig wanneer alle deelonderzoeken zijn gerapporteerd en het onderzoek is afgesloten. IMBRO/A Hoewel het grootste deel van de historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de eerst bekende datum waarop een onderzoek kan zijn afgerond in 1877 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="boringStartDate"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop het boren is begonnen.
Explanation: IMBRO/A Hoewel een groot deel historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de oudst bekende datum van boren in 1605 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="boringEndDate"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop het boren is beëindigd.
Explanation: IMBRO/A Hoewel een groot deel historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de oudst bekende datum van boren in 1605 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="rockReached"
                           type="brocom:IndicationYesNoType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of het gesteente is aangeboord en is bemonsterd.
Explanation: Wanneer de ondergrond niet uit grond maar uit gesteente bestaat, worden in het onderzoek andere gegevens vastgelegd dan gewoonlijk het geval is. In deze versie van de catalogus is het beschrijven van gesteente niet opgenomen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="finalDepthBoring" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De diepte waarop het boren is geëindigd.
Explanation: IMBRO/A Voor gegevens die zijn aangeleverd in het kader van archiefoverdracht is de einddiepte in bijna alle gevallen afgeleid uit de boormonsterbeschrijving.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                           <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                        </xs:restriction>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element name="descriptionReportDate"
                           type="brocom:PartialDateType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van de beschrijving alle gegevens van de boormonsterbeschrijving aan de bronhouder heeft overgedragen, of in het geval van historische gegevens de datum waarop alle gegevens zijn vastgesteld.
Explanation: IMBRO/A Hoewel het grootste deel van de historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de eerst bekende datum waarop een onderzoek kan zijn afgerond in 1877 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="descriptionProcedure"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:DescriptionProcedureType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DescriptionProcedure</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die aangeeft onder welke afspraken de monsters zijn beschreven.
Explanation: De procedure beschrijft volgens welk stelsel van afspraken de monsters beschreven zijn en welke aspecten worden beschreven. Procedures zijn in het algemeen vastgelegd in een norm, protocol of richtlijn. Dat kan overigens een richtlijn zijn die de uitvoerder voor zichzelf gebruikt. Het gegeven is opgenomen omdat het inzicht biedt in de kwaliteit van het werk. Het gebruik van procedures varieert van vakgebied tot vakgebied en voor grond gelden andere afspraken dan voor gesteente. Voor booronderzoek dat onder kwaliteitsregime IMBRO valt, is de boormonsterbeschrijving altijd onder de Standaard Boor Beschrijvingsmethode 6 tot stand gekomen. IMBRO/A Een geologische boormonsterbeschrijving die voor de invoering van de Standaard Boor Beschrijvingsmethode 6 tot stand is gekomen, valt per definitie onder booronderzoek met kwaliteitsregime IMBRO/A. Bij een boormonsterbeschrijving die onder NEN 5104 tot stand is gekomen, zijn eventueel extra aspecten beschreven die geen onderdeel uitmaken van de NEN 5104. Het is niet bekend volgens welke procedure deze aspecten zijn beschreven.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="descriptionQuality"
                           minOccurs="0"
                           maxOccurs="2"
                           type="bhrgcom:DescriptionQualityType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DescriptionQuality</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding voor de mate van detail waarmee de opbouw van de ondergrond in het boorprofiel is beschreven.
Explanation: Het gegeven geeft de mate van detail van de beschrijving aan en of de monsters waarop de beschrijving is gebaseerd al dan niet van een hoge kwaliteit zijn. Voor wat betreft dat laatste is het criterium of de bemonstering tot doel heeft gehad om monsters uit de ondergrond naar boven te halen waarvan de gelaagdheid intact is gebleven op het moment van beschrijven, oftewel ongeroerde monstername. IMBRO/A Voor gegevens die zijn aangeleverd in het kader van archiefoverdracht heeft het begrip beschrijfkwaliteit alleen onderscheidende waarde in de mate van detail van de beschrijving. Om die reden is voor archiefgegevens het gegeven kwaliteit beschreven monsters opgenomen. Onder NEN 5104 heeft het begrip beschrijfkwaliteit ook geen onderscheidende waarde in de mate van detail van de beschrijving. De waarde geologischNEN5104Archief beslaat een breed spectrum, van zeer summiere beschrijvingen tot uitgebreide beschrijvingen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="analysisReportDate"
                           type="xs:date"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van de analyse alle gegevens van de boormonsteranalyse aan de bronhouder heeft overgedragen.
Explanation: IMBRO/A Historische gegevens van de boormonsteranalyse vallen buiten het bereik van deze versie van de catalogus.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="samplingQualityOverview"
                           nillable="false"
                           type="dsbhrg:SamplingQualityOverviewType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De lijst met de monsterkwaliteiten die met het bemonsteren zijn beoogd.
Explanation: Een bemonsteringskwaliteit wordt maar een keer vermeld.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="determinedPropertiesOverview"
                           nillable="false"
                           type="dsbhrg:DeterminedPropertiesOverviewType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De lijst met de monsterkwaliteiten die met het bemonsteren zijn beoogd.
Explanation: Een bemonsteringskwaliteit wordt maar een keer vermeld.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BHR_G_CPropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="dsbhrg:BHR_G_C"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BHR_G_O"
               type="dsbhrg:BHR_G_OType"
               substitutionGroup="brocom:RegistrationObject">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens over een geologisch booronderzoek in de basisregistratie ondergrond, welke verstrekt worden aan een aanvrager die tevens bronhouder en/of dataleverancier van het registratieobject is.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BHR_G_OType">
      <xs:complexContent>
         <xs:extension base="brocom:RegistrationObjectType">
            <xs:sequence>
               <xs:element name="deliveryContext"
                           minOccurs="1"
                           maxOccurs="1"
                           type="bhrgcom:DeliveryContextType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DeliveryContext</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="surveyPurpose"
                           minOccurs="1"
                           maxOccurs="1"
                           type="bhrgcom:SurveyPurposeType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>SurveyPurpose</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het doel waarvoor het onderzoek is uitgevoerd.
Explanation: Onderzoek wordt normaliter projectmatig uitgevoerd, zelfs als het direct gebonden is aan een publieke taak. Het gegeven beschrijft het hogere doel van het project waarvoor het onderzoek is uitgevoerd of preciseert de taak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="discipline"
                           minOccurs="1"
                           maxOccurs="1"
                           type="bhrgcom:DisciplineType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>Discipline</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De discipline waarbinnen het booronderzoek is uitgevoerd.
Explanation: Het vakgebied is een gegeven dat dient om een categorie van booronderzoek in de registratie ondergrond te identificeren. Het gegeven bepaalt hoe het onderzoek is uitgevoerd en welke gegevens en categorieën van gegevens vastgelegd kunnen zijn. Onder geologisch onderzoek wordt geologisch specialistisch onderzoek verstaan dat nauw verbonden is met het doel modellen die de opbouw van de ondergrond in termen van (hydro)geologische eenheden beschrijven te maken en te verbeteren. Naast geologisch booronderzoek worden geologisch toegepast booronderzoek, geotechnisch booronderzoek, bodemkundig booronderzoek en cultuurtechnisch booronderzoek onderscheiden. In de uitvoeringspraktijk komt het voor dat in een booronderzoek gegevens worden vastgelegd die onder een van de vijf vakgebieden vallen en gegevens die eigenlijk in het domein van de milieukunde of de archeologie thuishoren. Omdat die disciplines buiten het bereik van de basisregistratie ondergrond liggen, zijn die extra gegevens niet gedefinieerd. Geologisch booronderzoek met een dergelijk multidisciplinair karakter wordt in de basisregistratie ondergrond opgenomen maar zonder die extra gegevens. Om gebruikers duidelijk te maken dat de onderzoeksresultaten niet volledig geregistreerd zijn wordt als waarde voor het vakgebied niet de waarde geologie vermeld, maar een waarde als geologieArcheologie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="surveyProcedure"
                           minOccurs="1"
                           maxOccurs="1"
                           type="bhrgcom:SurveyProcedureType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>SurveyProcedure</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die de uitvoering van projecten waarbinnen het booronderzoek wordt uitgevoerd reguleert en daarmee de kaders bepaalt voor de uitvoering van het booronderzoek.
Explanation: De procedure beschrijft de manier van werken, de passende hulpmiddelen en de eisen waaraan de uitvoering moet voldoen. Procedures zijn in het algemeen vastgelegd in een norm, protocol of richtlijn. Dat kan overigens een richtlijn zijn die de uitvoerder voor zichzelf gebruikt. Het gegeven is opgenomen omdat het inzicht biedt in de kwaliteit van het werk.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchReportDate"
                           type="brocom:PartialDateType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het booronderzoek alle gegevens van het booronderzoek aan de bronhouder heeft overgedragen of in het geval van historische gegevens de datum waarop alle gegevens zijn vastgesteld.
Explanation: Het gegeven is alleen aanwezig wanneer alle deelonderzoeken zijn gerapporteerd en het onderzoek is afgesloten. IMBRO/A Hoewel het grootste deel van de historische gegevens nog buiten het bereik van deze versie van de catalogus vallen, is wel al met zekerheid vast te stellen dat de eerst bekende datum waarop een onderzoek kan zijn afgerond in 1877 ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchOperator"
                           minOccurs="0"
                           maxOccurs="1"
                           type="brocom:OrganizationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van het booronderzoek, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="siteCharacteristicDetermined"
                           type="brocom:IndicationYesNoType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of in het onderzoek gegevens over de toestand van het terrein zijn vastgelegd die van betekenis zijn voor de beoordeling van de resultaten.
Explanation: IMBRO/A Voor gegevens die zijn aangeleverd in het kader van archiefoverdracht is zelden informatie over de toestand van het terrein vastgelegd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="registrationHistory"
                           nillable="false"
                           type="brocom:RegistrationHistoryType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De geschiedenis van het booronderzoek in de registratie ondergrond.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="NITGCode"
                           type="bhrgcom:NITGCodeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="reportHistory"
                           nillable="false"
                           type="bhrgcom:ReportHistoryType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De geschiedenis van de rapportage van het booronderzoek aan de bronhouder.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="deliveredLocation"
                           nillable="false"
                           type="bhrgcom:DeliveredLocationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De plaats van het booronderzoek op het aardoppervlak, zoals die is aangeleverd aan de basisregistratie ondergrond.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="deliveredVerticalPosition"
                           nillable="false"
                           type="bhrgcom:DeliveredVerticalPositionType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De positie van het beginpunt van het booronderzoek in het verticale vlak, zoals die is aangeleverd aan de basisregistratie ondergrond.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="standardizedLocation"
                           nillable="false"
                           type="brocom:StandardizedLocationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De plaats van het booronderzoek op het aardoppervlak zoals die door de basisregistratie ondergrond is getransformeerd.
Explanation: De locatie van het booronderzoek is gedefinieerd als een punt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="siteCharacteristic"
                           nillable="false"
                           type="bhrgcom:SiteCharacteristicType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De toestand van het terrein tijdens het boren.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="boring"
                           nillable="false"
                           type="bhrgcom:BoringPropertyType"/>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="fluidMudLayer"
                           nillable="false"
                           type="bhrgcom:FluidMudLayerPropertyType"/>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="boreholeSampleDescription"
                           nillable="false"
                           type="bhrgcom:BoreholeSampleDescriptionPropertyType"/>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="boreholeSampleAnalysis"
                           nillable="false"
                           type="bhrgcom:BoreholeSampleAnalysisPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BHR_G_OPropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="dsbhrg:BHR_G_O"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BHR_G_O_DP"
               type="dsbhrg:BHR_G_O_DPType"
               substitutionGroup="dsbhrg:BHR_G_O">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het uitgiftedocument dat wordt uitgeleverd als de afnemer niet de bronhouder of dataleverancier is van het registratieobject en het registratieobject niet uit registratie is genomen.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="BHR_G_O_DPType">
      <xs:complexContent>
         <xs:extension base="dsbhrg:BHR_G_OType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BHR_G_O_DPPropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="dsbhrg:BHR_G_O_DP"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DeterminedPropertiesOverviewType">
      <xs:sequence>
         <xs:element name="determinedCompositionProperties"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="bhrgcom:DeterminedCompositionPropertiesType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>DeterminedCompositionProperties</CodeListName>
                  <CodeListURI/>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft van welke samenstellingseigenschappen van het materiaal waaruit het onderzochte interval bestaat de waarde is bepaald.
Explanation: Standaard is de korrelgrootteverdeling bepaald met het organisch stofgehalte en kalkgehalte (standaard). Vaak zijn ook het organisch koolstofgehalte en zwavelgehalte bepaald (standaardMetChemie). Andere chemische parameters zijn vooralsnog buiten scope. De bepaling van de korrelgrootteverdeling ontbreekt wanneer de bepaling niet is gelukt en dat is het geval bij sterk organisch materiaal (zonderKorrelverdeling). In zeer uitzonderlijke gevallen kan het voorkomen dat bij de bepaling van het kalkgehalte, organische stof gehalte, organisch koolstofgehalte of zwavelgehalte iets misgaat in de uitvoering en alleen in dat geval ontbreken die bepalingen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="determinedHydrophysicalProperties"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="bhrgcom:DeterminedHydrophysicalPropertiesType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>DeterminedHydrophysicalProperties</CodeListName>
                  <CodeListURI/>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft van welke hydrofysische eigenschappen van het materiaal waaruit het onderzochte interval bestaat de waarde is bepaald.
Explanation: Standaard is de waterdoorlatendheid bepaald met de droge volumieke massa en volumieke massa (standaard) of de volumieke massa vaste delen (uitgebreid). In uitzonderlijke gevallen slaagt de bepaling van de waterdoorlatendheid niet (waterdoorlatendheidMislukt).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BHR_G_CriteriaSetType">
      <xs:complexContent>
         <xs:extension base="brocom:CriteriaSetType">
            <xs:sequence>
               <xs:element name="discipline"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:DisciplineType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>Discipline</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datuminterval waarbinnen de rapportagedatum beschrijving van het booronderzoek ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="fieldworkPeriod"
                           nillable="false"
                           type="brocom:DatePeriodType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datuminterval waarbinnen de datum waarop het boren is beëindigd ligt.
Explanation: Het gegeven is vastgelegd als einddatum boring.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="depthInterval"
                           nillable="false"
                           type="dsbhrg:VerticalPositionRangeType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bereik waarbinnen de einddiepte van de boring ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="samplingQuality"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="bhrgcom:SamplingQualityType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>SamplingQuality</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft wat de beoogde monsterkwaliteit is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="descriptionReportPeriod"
                           nillable="false"
                           type="brocom:DatePeriodType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datuminterval waarbinnen de rapportagedatum beschrijving van het booronderzoek ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="descriptionProcedure"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:DescriptionProcedureType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DescriptionProcedure</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die aangeeft onder welke afspraken de monsters zijn beschreven</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="descriptionQuality"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:DescriptionQualityType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DescriptionQuality</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding voor de mate van detail waarmee de opbouw van de ondergrond in het boorprofiel is beschreven</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="analysisReportPeriod"
                           nillable="false"
                           type="brocom:DatePeriodType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datuminterval waarbinnen de rapportagedatum analyse van het booronderzoek ligt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="determinedCompositionProperties"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:DeterminedCompositionPropertiesType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DeterminedCompositionProperties</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft van welke samenstellingseigenschappen van het materiaal waaruit het onderzochte interval bestaat de waarde is bepaald.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="determinedHydrophysicalProperties"
                           minOccurs="0"
                           maxOccurs="1"
                           type="bhrgcom:DeterminedHydrophysicalPropertiesType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>DeterminedHydrophysicalProperties</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft van welke hydrofysische eigenschappen van het materiaal waaruit het onderzochte interval bestaat de waarde is bepaald.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="waterContentDetermined"
                           type="brocom:IndicationYesNoType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of het watergehalte van het materiaal waaruit het onderzochte interval bestaat is bepaald.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="volumetricMassDensityDetermined"
                           type="brocom:IndicationYesNoType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of de volumieke massa van het materiaal waaruit het onderzochte interval bestaat is bepaald.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SamplingQualityOverviewType">
      <xs:sequence>
         <xs:element name="samplingQuality"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="bhrgcom:SamplingQualityType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>SamplingQuality</CodeListName>
                  <CodeListURI/>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De monsterkwaliteit die met het bemonsteren is beoogd.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VerticalPositionRangeType">
      <xs:sequence>
         <xs:element name="startDepth" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De begindiepte van het bereik waarbinnen de einddiepte van de boring ligt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:restriction base="gml:MeasureType">
                     <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                  </xs:restriction>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="endDepth" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De einddiepte van het bereik waarbinnen de einddiepte van de boring ligt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:restriction base="gml:MeasureType">
                     <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                  </xs:restriction>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
